<!doctype html>
<html data-ng-app="myApp" data-ng-csp="">
  <head>
    <meta charset="UTF-8">
    <title>Next DataViz Events</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <div class="container">

      <div ng-controller="DataCtrl">

        <h1 class="strong">Next events for {{selectedSport.name}}</h1>
        <div ng-controller="MainCtrl">
          <p class="bg-info">{{date | date:'hh:mm:ss, EEE, yyyy-MM-dd'}}</p>
        </div>
        <select ng-model="selectedSport" ng-init="sportId = sports[0]" ng-options="sport.name for sport in sports track by sport.id" ng-change="toggleSport(selectedSport)">
        </select>

        <table class="table table-bordered">
          <thead>
            <tr>
            <th ng-repeat="column in columns">{{column}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="event in events">
              <td>{{event.name}}</td>
              <td>{{event.startTime | date:'HH:mm, dd-MM-yyyy Z'}}</td>
              <td>{{event.betgeniusEventId}}</td>
              <td>{{event.hasCoverage}}</td>
              <td>{{event.bookmakerEventId}}</td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-route/angular-route.min.js"></script>
    <script src="./scripts/app.js"></script>
  </body>
</html>