body{

	background-color: #EEE;
}

.full-layout {

	width: 600px;
	padding: 20px;
}

#filter-menu.slide{left:0, background-color:#ED5;}
#filter-menu.hide{position:fixed;left:50%;top:0;width:100%}
.slide,.hide{transition: all 0.2s ease;}